* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
background: #b5c755;
background: radial-gradient(ellipse at center, #b5c755 0%, #8fb467 50%);
}

.planet {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: relative;
}

.cloud-boundary {
  width: 100px;
  height: 270px;
  position: absolute;
  top: calc(-50% + 30px);
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
}

.cloud-boundary__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
}

.cloud {
  width: 100%;
  height: 50px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}

.path-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outline {
  fill: transparent;
  stroke: #4d3034;
  fill: #82b765;
  stroke-width: 2;
  position: relative;
  z-index: 5;
}

.bike {
  position: absolute;
  top: -40px;
  left: -20px;
  width: 40px;
  height: 80px;
  z-index: 1;
}

.bike__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
}

#bm {
  position: relative;
  border: 1px dotted transparent;
}

#bm.active {
  border: 1px solid red;
}

.bike svg {
  z-index: 20;
  position: relative;
}

.umbrella-animation {
  position: absolute;
  top: -10px;
  left: calc(50% + 2px);
  transform: translateX(-50%);
  width: 100%;
  z-index: 10;
  /*background: red;*/
}
